body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
}

.form-container,
.account-container {
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: bold;
    margin-bottom: 30px;
    color: #007BFF;
}

label {
    display: block;
    margin: 20px 0 15px;
}

input {
    width: 100%;
    padding: 20px;
    margin: 15px 0;
    border: 2px solid #ccc;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 20px;
    margin: 25px 0;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#switchForm {
    margin-top: 40px;
    cursor: pointer;
    color: #007BFF;
    text-decoration: underline;
}

.account-container {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 900px;
    padding: 40px;
    text-align: center;
    display: none;
}

.account-container h1 {
    color: #007BFF;
}

.account-container .user-info,
.account-container .balance-section,
.account-container .transaction-section {
    margin-top: 40px;
}

.account-container label {
    margin-bottom: 20px;
}

.account-container input {
    margin-bottom: 30px;
    position: relative;
    right: 20px;
}

.account-container button {
    cursor: pointer;
}

.account-container #balance {
    font-size: 32px;
    font-weight: bold;
    color: #4CAF50;
}

.account-container .transaction-section {
    margin-top: 40px;
}

.account-container #depositForm,
.account-container #withdrawForm,
.account-container #transferSection {
    margin-top: 35px;
}

.account-container #depositForm button,
.account-container #withdrawForm button,
.account-container #transferSection button {
    cursor: pointer;
}

.account-container #depositForm button {
    background-color: #28a745;
}

.account-container #withdrawForm button {
    background-color: #dc3545;
}

.account-container #transferSection button {
    background-color: #ffc107;
    color: #000;
}

#withdraw {
    background-color: red;
}

#deposit {
    background-color: green;
}

.transaction-history {
    margin-top: 40px;
    overflow: hidden;
    max-height: 200px;
    /* Set a max height for the transaction history window */
    overflow-y: auto;
    /* Enable vertical scrollbar if content overflows */
}

#transactionList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#transactionList li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}